PEXELS_API_KEY=UG0OQJmSujhesFnvAVUzR77Mb6Y4GdDJrAuEhIa8HVVxjBHabdf3nc9L
OPENAI_API_KEY=sk-svcacct-r5ijLwKyJgrXW7snONAqRrncphYgEAyTcTwzlJCf7shr0ZqdRn1woNtvWYCFf4iBH8Op-crZ0T3BlbkFJ45UVFQszBRIyVrI_PY0wUXvgGnvBonWPNqvG5jXXeX0rAjSaA1jbPk8zk10CUDbg6EU3UBYdQA
GCP_PROJECT_ID=tikninja-app-dev
GCP_PROJECT_SA_NAME=tikninja-app-dev-sa
GCP_SA_KEY=
GCP_REGION=us-central1
GCP_PROJECT_ID=tikninja-app-dev
GCP_PROJECT_SA_NAME=tikninja-app-dev-sa